input(type='checkbox')#toggle-day-and-night
#demo
  .all-stars
    .star1
    .star2
    .star3
    .star4
    .star5
    .star6
    .star7
    .star8
    .star9
    .star10
    .star11
    .star12
    .star13
    .star14
    .star15
    .star16
    .star17
    .star18
    .star19
    .star20
    .star21
    .star22
    .star23
    .star24
    .star25
    .star26
    .star27
    .star28
    .star29
    .star30
  .buildings
    .ground
    .building1
      .wall1
      .wall2
        .windows
          .window
          .window
          .window
          .window
    .building2
      .wall1
      .wall2
        .doors
          .door
          .door
    .roof
      .rooftop
  label(for='toggle-day-and-night')
    .switch-button
  h1 Welcome To<br> Here
  h4 This is a demo page  
  .sun
  .moon
  
